@model UUWebstore.Models.HomePageHtml
<h2>Home Page Content</h2>
@{
    Layout = "~/Views/Shared/_LayoutInternal.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.HomePageHtmlContent, new { htmlAttributes = new { @class = "form-control" } })

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update" class="btn btn-default" />
            </div>
        </div>
    </div>

}

<script>

    $(document).ready(function () {
        debugger
        if ('@TempData["result"]' != null && '@TempData["result"]' != '') {
            if ('@TempData["result"]' == '1')
            {
                bootbox.alert({
                    title: "Success !",
                    message: '<p>Content updated successfully</p>',
                });
            }

        }
    });
</script>