@model IEnumerable<UUWebstore.Models.getAllProductCategories_sp_Result>

<h2>Product Categories</h2>

<table class="table" id="tblData">
    <thead>
        <tr>
            <th><img src="~/images/arrow.jpg" width="27" height="34"></th>            
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.isFeaturedCategory)
            </th>            
            <th></th>
        </tr>
    </thead>
    @{
        var a = Model.Count();

    }
    <tbody>
        @if (a == 0)
        {
            <tr>
                <td colspan="4">
                    No Result Found
                </td>
            </tr>
        }
        @{  int i = 0; }
        @foreach (var item in Model)
        {
            <tr>
                <td>@(i += 1)</td>           
              
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.isFeaturedCategory)
                </td>               
              
                <td><input type="checkbox" id='chk_@item.productCategoryId' onclick="SelectSupplier(@item.productCategoryId)" @(Convert.ToBoolean(@item.proCategoryClientId) == true ? "checked='checked'" : string.Empty) /></td>
              
            </tr>
            }
</tbody>
</table>
<script>
    function SelectSupplier(id)
    {
        var checkbox = document.getElementById('chk_' + id);
        var chk=false;
        if (checkbox.checked) {
            chk = true
        }
        debugger
        $.ajax({
            url: '/websetting/SelectProductCategories',
            type: 'POST',
            data: { 'productCategoryId': id, 'chk': chk },
            success: function (data) {
                if (data==1)
                {
                    bootbox.alert({
                        title: "Success !",
                        message: chk == true ? '<p>Product Category added in your List.</p>' : '<p>Product Category removed from your List.</p>',
                        timeOut: 2000

                    });
                }
            },
            error: function () {
                bootbox.alert({
                    title: "Alert !",
                    message: '<p>Whooaaa! Something went wrong..</p>',
                    timeOut: 2000

                });

            }
        });

    }
</script>